@import "~bootstrap/scss/bootstrap";

@import "./partials/home";

body{
    background-image: url(../img/Cinema_Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}